@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #f6a800 transparent;
}
